.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.divBoxStyle {
  width: 85vw;
  height: 30vw;
  border-radius: 25px;
  overflow: hidden;
  margin: auto;
  top: 10px;
  right: 0;
  bottom: 0;
  left: 0
}

@media only screen and (max-width: 768px) {
  .divBoxStyle {
    width: 85vw;
    height: 60vw;
    border-radius: 25px;
    overflow: hidden;
    margin: auto;
    top: 10px;
    right: 0;
    bottom: 0;
    left: 0
  }
}

.urltext {
  max-width: 80%;
}

.urltext span {
    display:block;
    width:96%;
    word-wrap:break-word;

}

.root {
  width: 85vw;
    margin: auto;
    top: 10;
    right: 0;
    bottom: 0;
    left: 0;
    align-content: center;
}